@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Cabin', sans-serif;
    font-weight: 300;
    color: #9E9E9E;
    background-color: #020302;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
    color: #9E9E9E;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}


#hero-image {
    height: 500px;
    width: 60%;
    background: url(../images/arthas.jpg) no-repeat center center;
    border: 2px solid #78ABC4;
    float: center;
    margin: auto;

}


#about {
    height: 600px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 220%;
}

#recruitment{
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
   
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}


#meetup div {
    color: #000000;
    background-color: rgba(181, 201, 245, 0.6);
    width: 20%;
    height: 200px;
    float: center;
    padding: 30px 0 0 10px;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}


/* gallery */

.flexbox-container1 {
    display: flex;
    flex-wrap: wrap;
}

.flexbox-item1 {
    width: 600px;
    margin: 10px;
    border: 3px solid #333;
}

#photos > img {
    width: 100%;
}

/* footer */

footer {
    height: 150px;
}

.socialmedia{
    text-align: center;
}

.socialmedia > li {
    display: inline;
}

.socialmedia i {
    font-size: 120%;
    margin: 1%;
    padding: 5%;
    color: #4822d1;
}