@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');
/*index */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Cabin', sans-serif;
    font-weight: 300;
    color: #9E9E9E;
    background-color: #020302;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
    color: #9E9E9E;
    text-transform: capitalize;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #b5c9f5;
}

#hero-image {
    height: 600px;
    width: 60%;
    background: url(../images/arthas.jpg) no-repeat center center;
    border: 2px solid #78ABC4;
    margin: auto;
    overflow: hidden;
    position: relative;
}

#welcome {
    text-align: center;
    font-size: 220%;
}

.recruitment{
    text-align: center;
    font-size: 200%;
}

#flexbox-container2 {
    display: flex;
    justify-content: space-between;
}


.flexbox-item2 {
    width: 33%; 
    flex-direction: column;
    justify-content: flex-start;
}

.flexbox-item3 {
    width: 33%; 
    flex-direction: column;
    justify-content: flex-end;
}

#meetup div {
    color: #020302;
    background-color: rgba(181, 201, 245, 0.6);
    width: 35%;
    height: 250px;
    padding: 20px 0 0 10px;
    margin: auto;
    text-align: center;
    border: 5px double #78ABC4;
    box-sizing: border-box;
}

/* gallery */

.flexbox-container1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.flexbox-item1 {
    width: 600px;
    margin: 10px;
    border: 2px solid #78ABC4;
}

/*apply */

.block-label {
    display: block;
}

input[type=submit] {
	margin-top: 20px;
	margin-left: 0.1rem;
	padding: 0.65rem;
	background-color: #b5c9f5;
	color: #020302;
	border: none;
	border-radius: 5px;
    font-family: inherit;
    text-transform: capitalize;

}

input[type=text] {
    height: 30px;
    width: 60%;
    padding-left: 10px;
	margin: 0 auto;

}

#application-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: #3c3a85;
} 

textarea {
    width: 300px;
    height: 150px;
  }

/*form dump page */

.applied {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 55%;
}

/* footer */

footer {
    height: 150px;
}

.socialmedia{
    text-align: center;
}

.socialmedia > li {
    display: inline;
}

.socialmedia i {
    font-size: 120%;
    margin: 1%;
    padding: 5%;
    color: #4822d1;
}

/* media queries */


@media screen and (max-width: 1900px) {
    #flexbox-container1 > .flexbox-item1 {
        flex: 50%;
    }

    .flexbox-item1 {
        width: 40%;
        margin: 50px;
    }
}


@media screen and (max-width: 1200px) {


    #welcome {
        padding: 30px;
        margin: 0;
    }

    #flexbox-container2 {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .flexbox-item1 {
        width: 97%;
        margin: 10px;
    }

    #application-form {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 60%;
        margin: 0 auto;
        flex: 1;
    }

    .applied {
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin: 10px;
    }


#hero-image {
    background-position: 0 0px;
    height: 400px;
    width: 90%;
}
    
}

/*for medium screen sizes from 950 px wide and down */

@media screen and (max-width: 950px) {

   #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }


    #application-form {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin: 0 auto;
        flex: 1;
    }

    #hero-image {
        width: 95%;
        height: 300px;
        background: url(../images/arthas-small.jpg) no-repeat center center;
    }

    #meetup div {
        color: #020302;
        background-color: rgba(181, 201, 245, 0.6);
        width: 80%;
        height: 250px;
        padding: 20px 0 0 10px;
        margin: auto;
        text-align: center;
        border: 5px double #78ABC4;
        box-sizing: border-box;
    }

    .flexbox-item1 {
        width: 95%;
        margin: 10px;
    }

    .flexbox-item2 {
        width: 90%;
        margin: 10px;
        }

        .flexbox-item3 {
            width: 90%;
            margin: 10px;
            }
        
    
}



